body {
  background-color: rgb(253, 251, 251);
  font-size: 16px;
  color: rgb(107, 107, 107);
  line-height: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  left: 80%;
}

nav a {
  color: white;
}

nav li {
  list-style: none;
  text-align: center;
  padding: 0px 10px;
  margin-left: -35px;
}

.button {
  background-color: #7209b7;
  border-radius: 5px;
  width: fit-content;
}

.lado-esquerdo {
  position: relative;
  width: 300px;
  border: 2px solid green;
  display: inline-block;
}

.lado-direito {
  position: relative;
  left: 200px;
  width: 300px;
  border: 2px solid green;
  display: inline-block;
}

#cabecalho {
  position: fixed;
  top: 0;
}

#minha_foto {
  border-radius: 100px;
  margin: 20px;
  padding: 10px;
  width: 100px;
}
