body {
  font-size: 16px;
  color: rgb(107, 107, 107);
  line-height: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  color: #3f37c9;
  padding: 8px;
}

a {
  text-decoration: none;
}

nav {
  position: relative;
  left: 83%;
  top: -5px;
  float: left;
  z-index: 3;
}

nav a {
  color: white;
  font-size: 14px;
  list-style: none;
  text-align: center;
  line-height: 20px;
}

table {
  text-align: center;
  display: inline-block;
}

.button-purple {
  background-color: #3f37c9;
  border-radius: 5px;
  padding-right: 30px;
}

.box {
  background-color: rgb(240, 240, 240);
  color: #480ca8;
  text-align: center;
  border-radius: 5px;
  padding: 24px;
}

.lado-esquerdo {
  position: relative;
  width: 300px;
  left: 20%;
}

.lado-direito {
  position: relative;
  width: 300px;
  top: -290px;
  left: 50%;
  margin-left: 36px;
  padding-top: 70px;
  height: 195px;
}

#cabecalho {
  position: relative;
}

#minha_foto {
  position: relative;
  top: -70px;
  left: 82%;
  z-index: 1;
  border-radius: 100px;
  width: 50px;
}

#licoes_aprendidas {
  position: relative;
  left: 22%;
  display: inline-block;
}

#licoes_a_aprender {
  display: inline-block;
  position: relative;
  left: 32%;
}

#rodape {
  text-align: center;
}
