@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #07ae51;
    line-height: 55px;
    font-weight: 600;
    font-size: 45px;
    letter-spacing: -1px;
    margin-bottom: 30px;
}

h2 {
    line-height: 42px;
    font-weight: 600;
    font-size: 28px;
}

h3 {
    line-height: 20px;
    font-weight: 600;
    font-size: 14px;
}

h2, h3, h4 {
    color: #11a36a;
}

p {
    line-height: 24px;
}

p, li {
    font-size: 16px;
    color: #475550;
    line-height: 24px;
    list-style: none;
}

header {
    background-image: url('img/smiling-image.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 30px 40px;
}

header p {
    margin-top: 32px;
    margin-bottom: 48px;
    line-height: 24px;
}

ul {
    margin-bottom: 30px;
}

footer {
    text-align: center;
    margin-bottom: 32px;
}

footer h3 {
    margin-top: 48px;
}

.pictures {
    width: 100px;
    border-radius: 100%;
}

.button {
    color: white;
    background-color: #11a36a;
    padding: 15px 30px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
}

.white-box {
    background-color: rgb(253, 251, 251);
    padding: 15px 30px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
}

.student-border, #quem-somos {
    max-width: 80%;
    margin: 0 auto;
}

.student-container {
    max-width: 25%;
    display: inline-block;
    margin: 10px 30px;
    text-align: center;
    vertical-align: top;
}

.student-container .pictures {
    margin: 0 auto;
}

.student-container p, #quem-somos p {
    margin: 30px 0px;
}

.quem-somos-content {
    max-width: 40%;
    display: inline-block;
    padding-left: 60px;
    margin: 24px auto;
    text-align: center;
    vertical-align: top;
}

#header-content {
    max-width: 600px;
    text-align: left;
    margin-left: 10%;
}

#marketing {
    padding: 6em 30px;
    margin: 0px 10%;
    text-align: center;
}

#marketing h2 {
    margin-bottom: 40px;
}

#quem-somos {
    max-width: 900px;
}

#quem-somos h2 {
    text-align: center;
    margin: 32px;
}

#quem-somos-box {
    margin-bottom: 32px;
}

#formacao {
    text-align: left;
    background-image: url(img/learning-web.jpeg);
    padding: 100px 10%;
    margin: 0px auto;
}

#formacao h2 {
    line-height: 64px;
}

#formacao li {
    max-width: 600px;
}
